.signin_cont {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 100%;
 height: 100vh;
 .signin {
  padding: 30px 10px;
  border: 1px solid grey;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-direction: column;

  .signinform {
   display: flex;
   flex-direction: column;
  }

  .signin_text {
   font-size: 20px;
   font-family: "DM SANS", sans-serif;
   font-weight: 800;
   margin: 10px 0;
  }

  .input {
   width: 300px;
   height: 40px;
   font-size: 20px;
   outline: none;
   border: 1px solid rgba(128, 128, 128, 0.6);
   border-radius: 10px;
  }
  .input::placeholder {
   font-size: 15px;
   opacity: 0.5;
  }
 }
 .modi-btn {
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
 }

 .modi-btn_up {
  background-color: blue;
 }
 .modi-btn_up:hover {
  background-color: transparent;
  color: black;
  border: none;
 }
}
//RESPONSIVENESS STYLING STARTS HERE
@media only screen and (min-width: 320px) and (max-width: 480px) {
 .signin_cont {
  .signin {
   border: none;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
@media only screen and (min-width: 425px) and (max-width: 480px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;
   display: flex;
   flex-direction: column;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
@media (min-width: 801px) and (max-width: 939px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}

@media (min-width: 940px) and (max-width: 1023px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
@media (min-width: 1024px) and (max-width: 1200px) {
 .signin_cont {
  .signin {
   padding: 30px 10px;
   border: 1px solid grey;
   border-radius: 20px;

   .input {
    box-shadow: 2px 4px rgba(128, 128, 128, 0.2);
   }
  }
 }
}
